.title h1, .title h2, .title h3, .title h4, .title h5 {
  text-align: left;
  text-transform: none;
}

div.backgrounds > .present:first-child {
  background-color: #02ABB1 !important;
  background-image: url(../images/title.png), -webkit-linear-gradient(left bottom, #02ABB1 0%, #005659 100%) !important;
  background-image: url(../images/title.png), linear-gradient(to left bottom, #02ABB1 0%, #005659 100%) !important;
  background-color: #02ABB1 !important;
}

li.fragment {
  line-height: 2em;
}

#slide-footer {
  color: lightgray;
  position: absolute;
  bottom: 0;
  z-index: 9;
  font-size: 0.4em;
  padding: 0 10px 10px 15px;
  left: 0;
  right: 0;
}

div.fragment {
  margin-top: 20px;
}